*,
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home {
    background: linear-gradient(to right, #33ccff 0, #ff99cc 100%);
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.signIn-section {
    width: 30vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profileImg {
    position: absolute;
    top: 0;
    background: #212b41;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

}

.App-section {
    width: 25vw;
    height: 30vh;
    background-color: #cfdfe9;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 3px inherit;
}

input {
    display: block;
    width: 15vw;
    height: 5.5vh;
    color: grey;
    font-size: 1em;
    border: none;
    background: #212b41;
    color: rgb(255, 255, 255);
    padding-left: 1em;
}

.input {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: relative;
}

.imageBox {
    width: 4em;
    height: 3em;
    padding: 1.38vw;
    background: #25385e;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 15vw;
    height: 3.5em;
    border: none;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: .5em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #cfdfe9;
    border-radius: 0 0 1.5em 1.5em;
    font-weight: 600;
}

@media screen and (max-width: 500px){
    div, * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
.home {
    background: linear-gradient(to right, #33ccff 0, #ff99cc 100%);
    width: 100vw;
    height: 100vh;
}

.signIn-section {
    width: 80vw;
    height: 45vh;
}

.profileImg {
    position: absolute;
    top: 0;
}

.App-section {
    width: 76vw;
    height: 30vh;
}

input {
    display: block;
    width: 45vw;
    height: 5.45vh;
    font-size: 1.2em;
}

.input {
    display: flex;
}

button {
    width: 15vw;
    height: 3.5em;
}
}

@media screen and (max-width: 800px) {
    .home {
        background: linear-gradient(to right, #33ccff 0, #ff99cc 100%);
        width: 80vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .signIn-section {
        width: 80vw;
        height: 45vh;
    }

    .profileImg {
        position: absolute;
        top: 1vh !important;
        background: #212b41;
        width: 7em !important;
        height: 7em !important;
    }

    .App-section {
        width: 70vw;
        height: 30vh;
    }

    input {
        width: 40vw;
        height: 5.45vh;
        display: block;    
    }

    .input {
        display: flex;
    }

    .imageBox {
        width: 4em !important;
        height: 4em !important;
    }

    button {
        width: 20vw !important;
        font-size: 1em;
    }

}

@media screen and (max-width: 1100px) {
     .home {
        width: 80vw;
        background: linear-gradient(to right, #33ccff 0, #ff99cc 100%);
        height: 100vh;
    }

    .signIn-section {
        width: 80vw;
        height: 45vh;
    }

    .profileImg {
        position: absolute;
        top: 1vh !important;
        background: #212b41;
        width: 8em ;
        height: 8em ;
    }

    .App-section {
        width: 65vw;
        height: 30vh;
    }

    input {
        width: 35vw;
        height: 5.45vh;
        display: block;
    }

    .input {
        display: flex;
    }

    .imageBox {
        width: 4em !important;
        height: 4em !important;
    }

    button {
        width: 20vw;
        font-size: 1em;
    }

}

@media screen and (max-width: 1400px) {
    .home {
        width: 80vw;
        background: linear-gradient(to right, #33ccff 0, #ff99cc 100%);
        height: 100vh;
    }

    .signIn-section {
        width: 80vw;
        height: 45vh;
    }

    .profileImg {
        position: absolute;
        top: 1vh !important;
        background: #212b41;
        width: 8em;
        height: 8em;
    }

    .App-section {
        width: 50vw;
        height: 30vh;
    }

    input {
        width: 28vw;
        height: 5.45vh;
        display: block;
    }

    .input {
        display: flex;
    }

    .imageBox {
        width: 4em !important;
        height: 4em !important;
    }

    button {
        width: 20vw;
        font-size: 1em;
    }

}

@media screen and (max-width: 1700px) {
    .home {
        width: 70vw;
        background: linear-gradient(to right, #33ccff 0, #ff99cc 100%);
        height: 100vh;
    }

    .signIn-section {
        width: 80vw;
        height: 45vh;
    }

    .profileImg {
        position: absolute;
        top: 0;
        background: #212b41;
        width: 8em;
        height: 8em;
    }

    .App-section {
        width: 40vw;
        height: 30vh;
    }

    input {
        width: 20vw;
        height: 5.45vh;
        display: block;
    }

    .input {
        display: flex;
    }

    .imageBox {
        width: 4em !important;
        height: 4em !important;
    }

    button {
        width: 20vw;
        font-size: 1em;
    }

}