*,
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home {
    background: linear-gradient(to right, #33ccff 0, #ff99cc 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.signIn-section {
    width: 30vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profileImg {
    position: absolute;
    top: 0;
    background: #212b41;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

}

.App-section {
    width: 25vw;
    height: 30vh;
    background-color: #cfdfe9;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 3px inherit;
}

input {
    display: block;
    width: 15vw;
    height: 4.15em;
    color: grey;
    font-size: 1vh;
    border: none;
    background: #212b41;
    color: rgb(255, 255, 255);
    padding-left: 1em;
    outline: none;
}

.input {
    display: flex;
}

.signUp {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

a {
    text-decoration: none;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: relative;
}

.imageBox {
    width: 4em;
    height: 3.3em;
    background: #25385e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errMsg {
    color: red;
}

.noErrMsg {
    
}

button {
    width: 15vw;
    height: 3.5em;
    border: none;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: .5em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #cfdfe9;
    border-radius: 0 0 1.5em 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (min-width: 360px){
    div, * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
.home {
    background: linear-gradient(to right, #33ccff 0, #ff99cc 100%);
    height: 100vh;
}

.signIn-section {
    width: 80vw;
    height: 45vh;
}

.profileImg {
    position: absolute;
    top: 0;
    width: 6em;
    height: 6em;
}

.App-section {
    width: 70vw !important;
    height: 30vh;
}

input {
    width: 35vw;
    display: block;
    color: grey;
    border: none;
    font-size: .8em;
    background: #212b41;
    color: rgb(255, 255, 255);
    padding-left: 1em;
}

.input {
    display: flex;
}

.imageBox {
    width: 3em;
    background: #25385e;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 30vw !important;
    height: 3.5em;
}

}

@media screen and (max-width: 640px){
    div, * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
.home {
    background: linear-gradient(to right, #33ccff 0, #ff99cc 100%);
    height: 100vh;
}

.signIn-section {
    width: 80vw;
    height: 45vh;
}

.profileImg {
    position: absolute;
    top: 0;
    width: 6em;
    height: 6em;
}

.App-section {
    width: 50vw;
    height: 30vh;
}

input {
    width: 35vw;
    display: block;
    color: grey;
    border: none;
    font-size: .8em;
    background: #212b41;
    color: rgb(255, 255, 255);
    padding-left: 1em;
}

.input {
    display: flex;
}

.imageBox {
    width: 3em;
    background: #25385e;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 30vw !important;
    height: 3.5em;
}

}


@media screen and (min-width: 641px){
    div, * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
.home {
    background: linear-gradient(to right, #33ccff 0, #ff99cc 100%);
    height: 100vh;
}

.signIn-section {
    width: 80vw;
    height: 45vh;
}

.profileImg {
    position: absolute;
    top: 0;
    width: 6em;
    height: 6em;
}

.App-section {
    width: 33em !important;
    height: 30vh;
}

input {
    width: 22em;
    display: block;
    color: grey;
    border: none;
    font-size: .8em;
    background: #212b41;
    color: rgb(255, 255, 255);
    padding-left: 1em;
}

.input {
    display: flex;
}

.imageBox {
    width: 3em;
    background: #25385e;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    max-width: 22em !important;
    height: 3.5em;
}

}
