*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-container {
    background: linear-gradient(to right, #33ccff 0, #ff99cc 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 25vw;
    height: 50vh;
    background-color: #cfdfe9;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5vh;
}

input {
    width: 15vw;
    height: 4.15em;
    margin-bottom: 1vh;
    background: #212b41;
    color: white;
    border: none;
    outline: none;
}

.errMsg {
    color: red;
}

.noErrMsg {

}

button {
    width: 15vw;
    height: 3.5em;
    border: none;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: .5em;
    cursor: pointer;
    color: #212b41;
    background-color: #cfdfe9;
    border-radius: 0 0 1.5em 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}